*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #F9ED69 0%, #B83B5E 30%, #609966 120%);
  height: 100vh;
}

body::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#F08A5D, #6A2C70);
  clip-path: circle(15% at 80% 90%);
  z-index: -1;
}

body::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#6A2C70, #F08A5D);
  clip-path: circle(15% at 22% 0%);
  z-index: -1;
}